body {
  font-family: sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, .8);
  font-size: 12px;
}
h2 {
  font-size: 0.8em;
  text-align: center;
  color: #eae9ff;
  border: solid white;
  margin: 0 5px;
  border-radius: 2px 2px 0 0;
  border-width: 1px 1px 0px 1px;
  padding: 1em 0;
  background: rgba(62, 117, 20, 0.92);
}
h3 {
  margin: 1em auto 0.1em;
  text-transform: capitalize;
}
#wrapper {
  display: table;
  margin: 1em;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 4px;
  filter: drop-shadow(0 0 3px black);
  padding: 1em;
}
.reports {
  display: table-row;
}
.report {
  padding: 0.6em 0.8em 1.5em;
  background-color: rgba(255, 255, 255, 0.22);
  border-radius: 3px 6px 3px 3px;
  margin: 1px;
  position: relative;
  display: table-cell;

  &:after {
    position: absolute;
    width: 1em;
    height: 1em;
    content: "?";
    top: 0;
    right: 0;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    color: silver;
  }

  &.unknown-status:after {
    color: white;
  }

  &.green:after {
    color: green;
    content: "\2713";
  }

  &.red:after {
    color: red;
    content: "!!";
  }
}
.time-taken {
  text-align: center;
  padding: 1em;
  position: relative;
}
dt {
  text-transform: uppercase;
}
.v {
  color: green;
}
.e {
  color: red;
}
.reporter {
  position: relative;
}
.update-status {
  font-size: 0.8em;
  border: 1px solid lightskyblue;
  padding: 0.2em;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(173, 216, 230, 0.34);

  opacity: 0.2;
}
.update-status:hover {
  opacity: 1;
}

.print-r {

}

.debug {

  padding: 0.5em;
  .debug-toggle {
    color: white;
  }
  .nice_r {
    display: none;
    background: white;
  }

  .debug-show & {
    .nice_r {
      display: block;
    }
  }
}

.drush {

  .reporter {
    display: table;

    .drush-report {
      display: table-row;

        .drush-report-facet {
          display: table-cell;
        }
    }
  }
}